.green {
  background-color: #64B255;
  padding: 2rem;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: lighter;
}

.operators {
  background-color: #83C178;
  color: #567F4E;
}

td:focus {
  background-color: #83C178;
}

.operators:hover {
  color: white;
}
